package ${package}.service;

import ${package}.entity.${className};
import com.mhys.basic.framework.bootstrap.common.service.BaseService;
/**
 * Module: ${className}.java
 * @author ${author}
 * @date ${date}
 * @Descriptions:
 */
public interface ${className}Service extends BaseService<${className}> {



        /**
         * 保存
         *
         * @param ${classname}
         * @return
         * @throws Exception
         */
        boolean save ${className}(${className} ${classname})throws Exception;

        /**
         * 修改
         *
         * @param ${classname}
         * @return
         * @throws Exception
         */
        boolean update ${className}(${className} ${classname})throws Exception;

        /**
         * 删除
         *
         * @param id
         * @return
         * @throws Exception
         */
        boolean delete ${className}(Long id)throws Exception;


        /**
         * 根据ID获取查询对象
         *
         * @param id
         * @return
         * @throws Exception
         */
        ${className} ${className} get${className}ById(Serializable id)throws Exception;




}
