package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.mhys.basic.framework.bootstrap.common.service.impl.BaseServiceImpl;
import ${package}.entity.${className};
import ${package}.service.${className}Service;
import ${package}.mapper.${className}Mapper;


/**
 * Module: ${className}.java
 *
 * @author ${author}
 * @date ${date}
 * @Descriptions:
 */
@Service
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper,${className}> implements ${className}Service {

    @Autowired
    private ${className}Mapper ${classname}Mapper;

    @Transactional(rollbackFor = Exception.class)
    @Override
    public boolean save${className}(${className} ${classname}})throws Exception{
        return super.save(${classname});
    }

    @Transactional(rollbackFor = Exception.class)
    @Override
    public boolean update${className}(${className} ${classname})throws Exception{
        return super.updateById(${classname});
    }

    @Transactional(rollbackFor = Exception.class)
    @Override
    public boolean delete${className}(Long id)throws Exception{
        return super.removeById(id);
    }

    @Override
    public ${className} ${className} get${className}ById(Serializable id)throws Exception{
        return super.getById(id);
    }